# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# Ignore eclipse jdlts files
bin/
.settings/
.project
.classpath

# Ignore keys
.env

# TUI
tui/dist/
tui/node_modules/
